<footer class="footer footer-black">
  <div class="container">
    <ul class="pull-left">
      <li>
        <a href="#">
          Naar boven
        </a>
      </li>
    </ul>
    <div class="copyright pull-right">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script> PJ All Rights Reserved.
    </div>
    <ul class="social-buttons pull-right">
      <li>
        <a href="https://www.facebook.com/macandcheese.impro" target="_blank" class="btn btn-just-icon btn-simple">
          <i class="fa fa-facebook-square"></i>
          <div class="ripple-container"></div></a>
        </li>
      </ul>
    </div>
  </footer>
