<div class="section section-cards cd-section" id="about">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title">Over ons</h2>
          <h5 class="description">Voor improvisatietheater met een krokant korstje moet u in onze keuken zijn! Ons comfort food wordt bereid met de basisingrediënten des levens en bijgekruid met dramatische extase en komische nootmuskaat.</h5>
          <h5 class="description"><i>Dig in</i> en laat u theatraal verrassen!</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">favorite</i>
              </div>
              <h4 class="info-title">Connectie</h4>
              <p>Vollenbak communiceren. Brullen, ook zonder woorden. Elkaar aanvoelen, gewoon zijn, verbinding aangaan. Krachtige moleculen uit 2 atomen.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">mood</i>
              </div>
              <h4 class="info-title">Emotie</h4>
              <p>Geen verhaal zonder emoties. Van rauwe tot de meest geraffineerde. Een sensationele rollercoaster die dendert over het leven.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
