<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Top image background -->
<div class="page-header" data-parallax="true" style="background-image: url('assets/img/bg_top.jpg');"></div>

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<div class="main main-raised">
  <!-- Section 1 - ABOUT US -->
  <app-about></app-about>
  <!-- Section 2 - TEAM -->
  <app-team></app-team>
  <!-- Section 3 - SERVICES -->
  <app-services></app-services>
  <!-- Section 4 - CALENDAR -->
  <app-events></app-events>
</div>
<div class="section section-space"></div>
<!-- Section 4 - CONTACT PAGE -->
<app-contact></app-contact>
<!-- Side navigation bar -->
<app-navbar-vertical></app-navbar-vertical>
