<div class="section section-cards cd-section" id="services">
  <div class="container">

    <div class="col-md-10 col-md-offset-1 text-center">
      <h2 class="title">Honger?</h2>
      <br />
      <h5>
        Heeft u <br />
        een theaterzaal?<br />
        een toffe zolder, kelder of living met veel plaats?<br />
        een gezellig café of lokaal?<br />
        een evenement met nood aan omkadering?<br />
        ...<br />
      </h5>

      <h5>
        Perfect, wij staan te springen om deze te voorzien van hartige impro.<br />
        Aanwezig decor en interieur nemen wij probleemloos op in de voorstelling.<br />
      </h5>

      <h5>
        Korte scènes of <i>full blown show?</i> Wij bieden comfort impro voor elke gelegenheid.<br />
      </h5>
    </div>
  </div>
</div>
