<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a href="#about" data-number="1">
        <span class="cd-dot"></span>
        <span class="cd-label">Over ons</span>
      </a>
    </li>
    <li>
      <a href="#team" data-number="2">
        <span class="cd-dot"></span>
        <span class="cd-label">Wij</span>
      </a>
    </li>
    <li>
      <a href="#services" data-number="3">
        <span class="cd-dot"></span>
        <span class="cd-label">Aanbod</span>
      </a>
    </li>
    <li>
      <a href="#events" data-number="4">
        <span class="cd-dot"></span>
        <span class="cd-label">Kalender</span>
      </a>
    </li>
    <li>
      <a href="#contact" data-number="5">
        <span class="cd-dot"></span>
        <span class="cd-label">Contact</span>
      </a>
    </li>
  </ul>
</nav>
